venv
*/__pycache__/
*/*/__pycache__/
*.sqlite3
.env
*/env
.idea
*/.idea
rpkala/env
media
locale/*/*.mo
.idea/*
rpkala/local.py
.idea/workspace.xml
.vscode
__pycache__
.local
mydatabase
.idea/*/*
*.mo
